html
{
	background: #7F7F7F url("../images/forest-1024x768.jpg") no-repeat center center scroll;
	background-size: contain !important;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 745px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.58);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
}

.Style
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.79);
}

#page_position_content
{
	margin-bottom: 198px;
}

#u1989
{
	z-index: 2;
	width: 1023px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 7px;
	position: relative;
}

#u1930-4
{
	z-index: 3;
	width: 365px;
	min-height: 61px;
	font-size: 48px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u1935-3
{
	z-index: 7;
	width: 6px;
	min-height: 37px;
	margin-left: 241px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu1932-8
{
	width: 0.01px;
	left: -100px;
	margin-top: 71px;
	position: relative;
}

#u1932-8
{
	z-index: 10;
	width: 524px;
	min-height: 113px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 401px;
}

#u1932-2,#u1932-4
{
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
}

#u1932,#u1932-3
{
	font-size: 48px;
}

#u1932-5
{
	font-size: 15px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
}

#u1932-6
{
	text-align: center;
	font-family: cantarell, sans-serif;
	font-weight: 400;
}

#u1934-3
{
	z-index: 18;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 317px;
}

#u1937-3
{
	z-index: 21;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 896px;
}

#u1988-3
{
	z-index: 24;
	width: 122px;
	min-height: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 279px;
}

#u2712
{
	z-index: 27;
	width: 1223px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BEC8AA;
	background-color: rgba(82, 107, 26, 0.37);
	padding-bottom: 76px;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
	-pie-background: rgba(82, 107, 26, 0.37);
}

#u2712_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1025px;
	position: relative;
	left: -99px;
}

#u2716-14
{
	z-index: 28;
	width: 418px;
	min-height: 118px;
	font-size: 16px;
	color: #000000;
	text-align: left;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 484px;
}

#u2716-2,#u2716-4,#u2716-6,#u2716-7,#u2716-12
{
	padding-top: 6px;
}

#u2716-9
{
	text-decoration: none;
	color: #E21E79;
	font-weight: 700;
}

body
{
	padding-top: 35px;
	padding-bottom: 198px;
}

#page .verticalspacer
{
	clear: both;
}

