/* stylesheet for coffee site */
body {
	font-family: georgia;
	font-size: 14px;
	color: black;
	background-color: white;
	margin-left: 40px;
	margin-right: 40px;
}

#shopname
{font-family: Monotype Corsiva; color: purple; font-size: 36px
}

.description h2 {font-family: Arial; color:#87421F; 
	font-size:
	18px;}


a:link{color:black;text-decoration:none;}
a:hover{color:blue;}
a:visited{color: gray}

#tagline {
	position: relative;
	width: 350px;
	margin: auto;
	margin-bottom: 75px;
}

header{
	background-image: url(images/beans.jpg);
	width: 100%;
}

#logo {
	margin:auto;
	width: 100px;
}

ul{
	list-style-type: none;
	width: 750px;
	margin-left: auto;
	position: relative;

}

li {
	display: inline-block;
	height: 30px;
	position: relative;
	bottom: 15px;
	color: red;

}

nav {
	background-color: black;
	width: 100%;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Georgia;
}

#organic {
	width: 450px;
	margin-left: 200px;
	float: left;
	position: absolute;
	text-align: center;
	
}

#coffeebar {
	width: 450px;
	margin-right: 200px;
	float: right;
	position: relative;
	text-align: center;
}

footer{
	clear: both;
	text-align: center;
}